.Generate_Button {
    width: 134px;
    height: 41px;
    border-radius: 10px;
    background-color: #ffa140;
    /* display: none; */
    cursor: url("https://cursor.s3.ap-northeast-1.amazonaws.com/select.png") 13.5 4.5,pointer;
    color: #ffffff;
    font-display: block;
    font-size: 16px;
    font-weight: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    text-transform: capitalize;
  }

  .Generate_Button:hover {
    background-color: #ff8200;
  }

  .Generate_Button:active {
    background-color: #e57500;
  }